<fieldset class="rating">
  <input type="radio"
         [name]="inputName"
         value="5"
         [checked]="rating===5"
         [disabled]="readOnly"
  />
  <label title="Rocks!"
         (click)='onClick(5)'

  >
      5 stars
  </label>

  <input type="radio"
         [name]="inputName"
         value="4"
         [disabled]="readOnly"
         [checked]="rating===4"
  />
  <label title="Pretty good"
         (click)='onClick(4)'
  >
    4 stars
  </label>

  <input type="radio"
         [name]="inputName"
         value="3"
         [disabled]="readOnly"
         [checked]="rating===3"
  />
  <label title="Meh"
         (click)='onClick(3)'
  >
    3 stars
  </label>

  <input type="radio"
         [name]="inputName"
         value="2"
         [disabled]="readOnly"
         [checked]="rating===2"
  />
  <label title="Kinda bad"
         (click)='onClick(2)'
  >
    2 stars
  </label>

  <input type="radio"
         [name]="inputName"
         value="1"
         [disabled]="readOnly"
         [checked]="rating===1"
  />
  <label title="Sucks big time"
         (click)='onClick(1)'
  >
    1 star
  </label>
</fieldset>
